@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;500;600;700;800;900&display=swap");
:root {
  --theme-color: #000000;
  --theme-color--two: #4e85f0;
  --text-secondary: #555555;
  --text-color: #ffffff;
  --heading-font: "Courier Prime", monospace;
  --text-font: "Inter", sans-serif;
}
* {
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  color: var(--theme-color);
}
a {
  text-decoration: none;
  color: var(--theme-color);
}
a:hover {
  color: var(--theme-color);
}
.color-2 {
  color: var(--text-secondary) !important;
}
.color-3 {
  color: var(--text-color) !important;
}
.color-4 {
  color: var(--theme-color--two) !important;
}
.dark-bg {
  background: #2a2a2a !important;
}
.custom-container {
  width: 80%;
  margin: 0 auto;
}

.custom-team {
  width: 100%;
  margin: 0 auto;
}

.custom-containerk {
  width: 100%;
  margin: 0 0;
}

.H1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 85px;
}
.H2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.H3 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.H4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.H4vision {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
}

.H5 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.H6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.custom-btn {
  border: none;
  background: var(--theme-color--two);
  color: #ffffff;
  padding: 1rem;
  border-radius: 4px;
}
/* ========navbar start ========= */
.navbar-nav .nav-link {
  padding: 0 1rem !important;
}
.nav-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333 !important;
  margin: auto 0 !important;
}
.active {
  color: var(--theme-color--two) !important;
}
.already-sticky {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.already-sticky,
.already-sticky * {
  transition: 256ms;
}
.sticky-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 50;
  box-shadow: 0 4px 4px rgb(0 0 0 / 6%);
}
.navbar-logo-image {
  width: 140px;
}
.dropdown-menu[data-bs-popper] {
  left: -100px !important;
}
.dropdown-toggle::after {
  font-size: 20px;
}
.arrow-btn {
  border: none;
  color: #4e85f0;
  background: none;
  position: relative;
  left: -10px;
  top: 3px;
}
/* ========navbar end ========= */

/* ========Home start ========= */
.hero-sec {
  width: 100%;
  min-height: 100vh;
}
.blue-shadow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
}
.performance-container {
  background-color: #2a2a2a;
  padding: 5rem 0;
}
.performance-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #2a2a2a;
}
.performance-circle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #000000;
  background-color: #ffffff;
}
.performance-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 1rem;
  gap: 10px;
}
.performance-box .percentage {
  width: 100px;
  height: 100px;
  display: flex;
  border: 1px solid #000000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.performance-box .percentage h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #4e85f0;
  margin: 0;
}
.performance-box .title h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #555555;
  margin: 0;
}
.performance-box .title h5 a {
  font-weight: 700;
  text-align: center;
  color: #4e85f0;
  text-decoration: none;
}
.metrics {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.metrics h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px !important;
  text-align: center !important;
  color: #000000;
  margin: 0;
}

.customer-sec {
  background: #2a2a2a;
  padding: 6rem 0;
  color: #ffffff;
}
.slick-arrow {
  display: none !important;
}
.customer-slider {
  height: 250px;
  width: 90% !important;
  box-shadow: 0px 10px 30px rgba(79, 79, 79, 0.1);
  border-radius: 10px;
  background: #ffffff;
  margin-top: 4rem;
}
.customer-slider img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonial-sec {
  padding: 6.5rem 0;
}
.testimonial-slider1 {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  height: 450px;
  text-align: center;
  width: 95% !important;
  padding: 2.5rem 1rem;
  margin-top: 4rem;
}

.testimonial-slider2 {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  height: 450px;
  text-align: center;
  width: 95% !important;
  padding: 2.5rem 0rem;
  margin-top: 4rem;
}

.testimonial-slider3 {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  height: 450px;
  text-align: center;
  width: 95% !important;
  padding: 2.5rem 1rem;
  margin-top: 4rem;
}

.testimonial-slider small {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
/* ========Home end ========= */

/* ========About start ========= */
.about-sec {
  padding-top: 5rem;
}
.vision-mission-sec {
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  padding: 3rem 0;
}
.vision-mission-sec:last-child {
  border-top: none;
}
.vision-mission-sec h4 {
  color: var(--text-secondary);
}
.investor-sec {
  padding: 6.5rem 0;
}
.investor-card {
  height: 200px;
  /* border: 1px solid red; */
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(102, 102, 102, 0.1);
  border-radius: 10px;
}
.investor-card img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-sec {
  background: #2a2a2a;
  padding: 4rem 0;
  color: #ffffff;
}
.team-slider {
  background: #5b5b5b;
  text-align: center;
  width: 90% !important;
  padding: 2.5rem 0;
  margin-top: 4rem;
}
.team-slider h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}
.team-slider h4 {
  color: #cccccc;
}
.team-icon {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto;
}
.know-more-sec {
  padding: 6rem 0;
}
/* ========About end ========= */

/* ========Use cases start ========= */
.use-cases-sec {
  padding: 4rem 0;
}
.use-card {
  height: 250px;
  width: 500px;
  background: #ffffff;
  margin: 3px;
  box-shadow: 0px 10px 30px rgba(79, 79, 79, 0.1);
  border-radius: 10px;
  position: relative;
  transition: 0.5s ease;
}
.use-card:hover .learn-more-btn {
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
}
.use-card-desc {
  position: absolute;
  left: 9px;
  bottom: 10px;
  color: #555555;
}
.learn-more-btn {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.mining-sec {
  padding: 3rem 0;
}
.page-heading-sec {
  padding: 6rem 0;
}
.img-card {
  width: 96% !important;
  height: 400px;
}
.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Benefits Sectio */

.card-icon {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #5b5b5b;
  margin-bottom: 1rem !important;
  margin-right: 0 !important;
}
.card-icon img {
  height: 40px;
  width: 40px;
}
.icon-box {
  /* display: flex !important;
  gap: 10px;
  justify-content: center;
  align-self: center;
  flex-direction: column; */
  /* border: 1px solid; */
  margin: auto;
  width: 200px !important;
}
.icon-box p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.benefits-sec {
  background: #2a2a2a;
  padding: 4rem 0;
  color: #ffffff;
}

.timeline-box {
  padding: 5rem 0;
  /* min-width: 700px; */
  width: 100%;
}
.timeline-box ol,
.timeline-box li {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.timeline-box ol {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.timeline-box ol:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #333333 !important;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;
}

.timeline-box li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.timeline-box li:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4e85f033;
  border: 10px solid rgba(56, 119, 245, 0.2);
  filter: blur(4px);
}

.timeline-box span {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  text-align: center;
  text-align: center;
  width: 130px;
  font-size: 15px;
}
.working-sec {
  padding: 6.5rem 0;
  box-sizing: border-box;
  overflow: hidden;
}
.working-container {
  width: 1100px;
  height: 600px;
  background: #c4c4c4;
}
.use-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
/* ========Use cases end ========= */

/* ========Case studies start ========= */
.case-studies-sec {
  padding: 6.5rem 0;
}
.case-slider-item {
  width: 100%;
  height: 90vh;
  background: #296cef;
}
.case-hero-sec {
  background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/images/hero-sec.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.case-hero-heading {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.business-sec {
  padding: 6rem 0;
}
.solution-sec {
  background: #2a2a2a;
  color: #ffffff;
}
.solution-sec h4 {
  color: #cccccc;
}
.training-sec {
  background: #5b5b5b;
}
.progress-bar-sec {
  position: relative;
  width: fit-content;
}
.level-1 {
  position: absolute;
  left: -15px;
  bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #cccccc;
}
.level-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #cccccc;
}
.level-3 {
  position: absolute;
  right: -25px;
  bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #cccccc;
}
.level-percentage {
  position: absolute;
  padding: 1rem;
  background: #ffffff;
  left: -26%;
  top: 30%;
  color: #555555;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  transform: translateY(-40%);
  border-radius: 20px;
}
.level-percentage::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: -5px;
  left: 80%;
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.next-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4e85f0;
  padding: 1rem;
  border: 1px solid #4e85f0;
  background: #ffffff;
}
/* ========Case studies end ========= */

/* ========Req demo start ========= */
.req-demo-sec {
  padding: 6rem 0;
}
.req-form input,
.req-form textarea {
  outline: none;
  width: 97%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 1rem;
  color: #666666;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.req-form select {
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 1rem;
  color: #666666;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}
.req-form small {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}
.group-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.8rem;
}
.group-img {
  width: 100%;
  height: 550px;
}
.group-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gray-box {
  background: #5b5b5b;
  padding: 6rem 0;
}
.pink-box {
  height: 100px;
}
.pink-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.department-sec {
  border-top: 1px solid var(--theme-color);
  padding: 3rem 0;
}
.dept-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.dept-cards {
  width: 100%;
  height: 306px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(79, 79, 79, 0.1);
  border-radius: 10px;
  color: #555555;
}
.dept-cards h4 {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
/* ========Req demo  end ========= */

/* ========Footer start ========= */
.footer-sec {
  background: #2a2a2a;
  color: #ffffff;
}
.footer-heading-sec {
  padding: 10rem 0;
}
.contact-sec h5 {
  color: #b5b5b5;
}
.contact-form {
  width: 80%;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 1.3rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding: 0.7rem;
  outline: none;
  border-radius: 4px;
}
.contact-form textarea {
  margin-bottom: 0;
}
.contact-form small {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}
.btn-2 {
  width: 100%;
  outline: none;
  border: none;
  background: #4e85f0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 0.9rem;
}
.explore-sec ul {
  list-style: none;
  padding: 0;
}
.explore-sec ul li {
  margin-bottom: 1.2rem;
}
.explore-sec ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.sub-footer-sec {
  background: #1a1a1a;
  padding: 1rem 0;
  color: #f9f9f9;
}
.sub-footer-sec small a {
  text-decoration: none;
  color: #f9f9f9;
}
/* ========Footer end ========= */

/* #Dumper Section */
.Analytics-Dashboard {
  padding-top: 2rem;
}
.analytic-wrapper {
  /* display: grid;
  grid-template-columns: 40% 40%; */
  display: flex;
}

.analytic-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 58%;
  padding: 1rem 0 1rem 3rem;
}
.analytic-picture img {
  width: 100%;
}
.cards {
  padding: 1rem;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  row-gap: 1rem;
}
.cards .icon img {
  width: 40px;
  height: 40px;
}
.cards .content h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #555555;
}
.icon-cards {
  display: flex;
}
.para p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  padding-bottom: 3rem;
  margin: 0%;
}
.headdings h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  color: #000000;
  margin: 0;
  padding-bottom: 1.2rem;
}
.content h4 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #296cef;
}
